*{
    margin: 0px;
    padding: 0px;
  }
  
  .welcome{
    background:linear-gradient(45deg,rgba(118, 169, 211, 0.973),rgb(203, 214, 138) ) fixed;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
    }
    ul li{
      position: absolute;
      border: 1px solid #fff;
      width: 20px;
      height: 20px;
      list-style: none;
      opacity: 0;
      background-color: #fff;
    }
    .square li{
      background: url('img\u=1897275744,1114732232&fm=26&gp=0.jpg');
      top: 50vh;
      left: 45vh;
      animation: square 10s linear infinite;
    }
    .square li:nth-child(2)
    {
      top: 80vh;
      left: 10vw;
      animation-delay: 2s;
    }
    .square li:nth-child(3)
    {
      top: 80vh;
      left: 85vw;
      animation-delay: 4s;
    }
    .square li:nth-child(4)
    {
      top: 10vh;
      left: 70vw;
      animation-delay: 6s;
    }
    .square li:nth-child(5)
    {
      top: 10vh;
      left: 10vw;
      animation-delay: 8s;
    }
    @keyframes square
    {
      0%{
            transform: scale(0) rotateY(0deg);
            opacity: 1;
      }
      100%{
        transform: scale(5)rotateY(1000deg);
        opacity: 0;
      }
    }
    .circle li{
      bottom: 0;
      left: 15vw;
      animation :circle 10s linear infinite;
  
    }
    .circle li:nth-child(2){
      left: 35vw;
      animation-delay: 2s;
  
    }
    .circle li:nth-child(3){
  
      left: 55vw;
      animation-delay: 4s;
  
    }
    .circle li:nth-child(4){
      left: 75vw;
      animation-delay: 6s;
  
    }
    .circle li:nth-child(5){
      left: 90vw;
      animation-delay: 8s;
  
    }
    @keyframes circle
    {
      0%{
        transform: scale(0) rotate(0deg);
        opacity: 1;
        bottom: 0;
        border-radius: 0;
      }
      100%{
        transform: scale(5) rotate(1000deg);
        opacity: 0;
        bottom: 90vh;
        border-radius: 50%;
      }
    }
    .container{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
    }
    
    .btn{
      border: none;
      margin: 20px;
      padding: 24px;
      width: 220px;
      font-family: "montserrat",sans-serif;
      text-transform: uppercase;
      border-radius: 6px;
      cursor: pointer;
      color: #fff;
      background-size: 200%;
      transition: 0.6s;
    }
    
    .btn1{
      background-image: linear-gradient(to left,rgb(227, 18, 255),rgb(97, 36, 238),rgb(18, 180, 255));
    }
    
    .btn2{
      background-image: linear-gradient(to left,#C4E538,#009432,#C4E538);
    }
    
    
    .btn:hover{
      background-position: right;
    }
    